# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.31263-Assessment-4.iml
/contentModel.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
